.cart-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 4em;
    color: black;
}

.cart-items {
    width: 70%;
}

.cart-summary {
    width: 25%;
    height: fit-content;
    background-color: white;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.price-details-heading {
    margin: 0;
    border-bottom: 1px solid black;
    padding: 0.5em 0;
}

.price-details {
    display: flex;
    flex-direction: column; 
    gap: 1em;   
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place-order-btn {
    width: 15em;
    height: 3em;
    margin: 1em 0;
    background-color: rgba(255, 68, 0, 0.795);
    border: none;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}