.product-card {
    box-sizing: border-box;
    width: 16.6%;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    text-align: center;
    color: black;
}

.product-card:hover {
    box-shadow: 12px 12px 40px #0000001a;
    transition: box-shadow .3s ease-out;
}

.product-card-img {
    height: 90%;
    object-fit: contain;
}

.product-card-price {
    font-weight: 500;
}