.recommended-category-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin: 20px;
}

.category {
    color: rgba(0, 0, 0, 0.801);
    font-size: 24px;
    font-weight: 600;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category p {
    margin: 10px 0;
}

.category-all-products-btn {
    padding: 5px;
    margin-right: -30px;
}

.category-all-products-btn:hover {
    color: #00ffbbc7;
}

.recommended-products-container {
    display: flex;
}