.container{
    min-width: 1510px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
    gap: 10px;
}

.product-filters{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid whitesmoke;
}

.product-filters div{
    padding: 10px;
    height: 60px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products{
    width: 80%;
    height: 1000px;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.products-section{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.product-card{
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
}