{% extends "base.html" %}
{%block title%} QwikMall {% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{{url_for('static', filename='css/categories-more-subcategory-products.css')}}"/>
{% endblock %}

{% block content %}
<div class="more-products-container">
    <div class="category-products-heading-count-space">
        <div class="products-heading">
            <h3>Best of Electronics</h3>
        </div>
        <div class="products-count">
            <p>20 Items</p>
        </div>
    </div>
    <div class="products">
        {% for product in products %}
        <div class="product-card">
            <div class="product-img-space">
                <img src="{{url_for('static', filename='images/headphones.webp')}}" alt={{product.name}}/>
            </div>
            <div class="product-name-space">
                <p>{{product.name}}</p>
            </div>
            <div class="product-description-space">
                <p>{{product.description}}</p>
            </div>
            <div class="product-price-space">
                <p>{{product.price}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}