{% extends "base.html" %}
{%block title%} QwikMall {% endblock %}

{% block styles%} 
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"/>
{%endblock%}

{% block content %}
<div id="all-product-container">
    <div class="category-container">
        <div class="product-category-heading-and-more-product-btn">
            <div class="product-category-heading">
                <h1 id="heading" class="font-25">Electronics</h1>
            </div>
            <div class="product-category-more-product-btn">
                <a href="{{url_for('views.more_product_categories')}}"><button class="font-25 border-none-bg-color-radius more-product-btn"><i class="fa-solid fa-chevron-right color-white-small"></i></button></a>
            </div>
        </div>
        <div class="product-category-products">
            {% for product in products %}
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src={{product.image}} alt={{product.name}}/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">{{product.name}}</p>
                </div>
                <div class="product-category-product-description-space">
                    <p id="product-description">{{product.description}}</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">{{product.price}}</p>
                </div>
            </div>
            {%endfor%}
            <!-- <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src="{{url_for('static', filename='images/product-category-1-product-1-img.png')}}" alt="Best Headphone"/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">Best Headphone</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">Rs.400</p>
                </div>
            </div>
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src="{{url_for('static', filename='images/product-category-1-product-1-img.png')}}" alt="Best Headphone"/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">Best Headphone</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">Rs.400</p>
                </div>
            </div>
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src="{{url_for('static', filename='images/product-category-1-product-1-img.png')}}" alt="Best Headphone"/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">Best Headphone</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">Rs.400</p>
                </div>
            </div>
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src="{{url_for('static', filename='images/product-category-1-product-1-img.png')}}" alt="Best Headphone"/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">Best Headphone</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">Rs.400</p>
                </div>
            </div>
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src="{{url_for('static', filename='images/product-category-1-product-1-img.png')}}" alt="Best Headphone"/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">Best Headphone</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">Rs.400</p>
                </div>
            </div>-->
        </div>
    </div>

    <div class="category-container">
        <div class="product-category-heading-and-more-product-btn">
            <div class="product-category-heading">
                <h1 id="heading" class="font-25">Electronics</h1>
            </div>
            <div class="product-category-more-product-btn">
                <a href="{{url_for('views.more_product_categories')}}"><button type="" class="font-25 border-none-bg-color-radius more-product-btn"><i class="fa-solid fa-chevron-right color-white-small"></i></button></a>
            </div>
        </div>
        <div class="product-category-products">
            {% for product in products%}
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src={{product.image}} alt={{product.name}}/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">{{product.name}}</p>
                </div>
                <div class="product-category-product-description-space">
                    <p id="product-description">{{product.description}}</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">{{product.price}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="category-container">
        <div class="product-category-heading-and-more-product-btn">
            <div class="product-category-heading">
                <h1 id="heading" class="font-25">Electronics</h1>
            </div>
            <div class="product-category-more-product-btn">
                <a href="{{url_for('views.more_product_categories')}}"><button type="" class="font-25 border-none-bg-color-radius more-product-btn"><i class="fa-solid fa-chevron-right color-white-small"></i></button></a>
            </div>
        </div>
        <div class="product-category-products">
            {% for product in products%}
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src={{product.image}} alt={{product.name}}/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">{{product.name}}</p>
                </div>
                <div class="product-category-product-description-space">
                    <p id="product-description">{{product.description}}</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">{{product.price}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="category-container">
        <div class="product-category-heading-and-more-product-btn">
            <div class="product-category-heading">
                <h1 id="heading" class="font-25">Electronics</h1>
            </div>
            <div class="product-category-more-product-btn">
                <a href="{{url_for('views.more_product_categories')}}"><button id="more-product-btn" type="" class="font-25 border-none-bg-color-radius"><i class="fa-solid fa-chevron-right color-white-small"></i></button></a>
            </div>
        </div>
        <div class="product-category-products">
            {% for product in products %}
            <div class="product-card">
                <div class="product-category-product-img-space">
                    <img id="" src={{product.image}} alt={{product.name}}/>
                </div>
                <div class="product-category-product-name-space">
                    <p id="product-name">{{product.name}}</p>
                </div>
                <div class="product-category-product-description-space">
                    <p id="product-description">{{product.description}}</p>
                </div>
                <div class="product-category-product-price-space">
                    <p id="product-price">{{product.price}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}