{%extends "base.html"%}
{%block title %} Qwikmall | Signup {%endblock%}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
{%endblock%}

{% block script%}
    <script src="{{url_for('static', filename='js/signup.js')}}"></script>
{%endblock%}

{%block content %}
<div id="signup-container">
    <div class="left-box">
        <span>Looks like you're new here!</span>
        <p>Sign up with your mobile number to get started</p>
    </div>
    <div class="right-box">
        <div class="signup-section">
            <div class="signup-input-section">
                <input id="input-contact" type="text" name="contact" placeholder="Enter Phone Number"></input>
                <p class="error-message"></p>
            </div>
            <div class="signup-terms-section">
                <p>By continuing, you agree to QwikMall's <a>Terms of Use</a> and <a>Privacy Policy.</a></p>
            </div>
            <div class="signup-button-section">
                <button id="signup-btn">Sign Up</button>
            </div>
        </div>
        <div class="go-to-login-section">
            <a href="{{url_for('views.login')}}">Existing User? Log in</a>
        </div>
    </div>
    <div class="verify-section">
        <p id="enter-code-para">Please enter the OTP sent. <span>Change</span> </p>
        <p id="message"></p>
        <input id="verification-code" name="code" placeholder="Enter code"></input>
        <button id="verify-btn">Verify</button>
        <p id="resend-code">Not received your code? <span>Resend Code.</span></p>
    </div>
</div>
{%endblock%}